.navbar-text {
    color:white;
    font-style:bold;
    font-size:25px;
}

.navbar-text:hover {
    color:white;
    font-style:bold;
    font-size:25px;
}

.navbar-logo {
    height:25px;
    width:25px;
    padding-bottom:2px;
}

.navbar-logo:hover {
    height:25px;
    width:25px;
}

.nav-link {
    color:white;
    padding-top:12px;
}

.nav-link:visited {
    color:white
}

.nav-link:hover {
    color:white
}

.nav-link:active {
    color:white
}