.navbar-brand {
    color:white;
    font-style:bold;
    font-size:25px;
}

.navbar-brand:hover {
    color:green;
    font-style:bold;
    font-size:25px;
}

.navbar-logo {
    height:25px;
    width:25px;
}

.navbar-logo:hover {
    height:25px;
    width:25px;
}
.nav-item {
    color:white;
}